.section1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 16, 33, 0.804)), to(rgba(10, 16, 33, 0.804))), url(../../../assets/girl.svg);
  background: linear-gradient(rgba(10, 16, 33, 0.804), rgba(10, 16, 33, 0.804)), url(../../../assets/girl.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 8rem 0;
}

.section1 .container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .container h1 {
  color: white;
}

.section2 {
  padding: 6rem 0;
}

.section2 .container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .section2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 4rem;
  }
}

.section2 .container .text-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 2rem;
}

.section2 .container .text-box h1 {
  color: rgba(0, 0, 0, 0.603);
}

.section2 .container .text-box p {
  color: rgba(0, 0, 0, 0.897);
  line-height: 1.5rem;
}

.section2 .container .img-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.section2 .container .img-box .sec-2-img {
  max-width: 300px;
  max-height: 300px;
}

.section3 {
  padding: 6rem 0;
}

.section3 .container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .section3 .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}

.section3 .container .text-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 2rem;
}

.section3 .container .text-box h1 {
  color: rgba(0, 0, 0, 0.603);
}

.section3 .container .text-box p {
  color: rgba(0, 0, 0, 0.897);
  line-height: 1.5rem;
}

.section3 .container .img-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.section3 .container .img-box .sec-3-img {
  max-width: 300px;
  max-height: 300px;
}
/*# sourceMappingURL=About.css.map */